.banner {
  height: 100vh;
  max-height: 768px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner__cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}
.banner__cover img {
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s ease-in-out;
}
.banner__cover img.banner__cover--active {
  opacity: 1;
}

.banner__content {
  z-index: 4;
  width: 100%;
}
.banner__container {
  max-width: 595px;
  margin: 0 auto;
}