.information {
  display: grid;
  grid-template: 1fr / 30px 1fr;
  grid-column-gap: 10px;
  margin-bottom: 15px;
}
.information:last-child {
  margin-bottom: 0;
}
.information__icon {
  width: 30px;
}
.information__text {
  color: var(--white);
  font-size: 0.88em;
  line-height: 1.4rem;
}

.footer {
  text-align: center;
  color: var(--white);
  padding: 15px 0;
}