.product {
  cursor: pointer;
}
.product__images {
  border-radius: 60px;
  border-top-left-radius: 30px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.product__name {
  font-size: 1em;
  line-height: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.product:hover .product__images {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0px 12px 24px rgba(0,0,0,0.2);
}
.product:hover .product__name {
  transform: translateY(-5px);
}